<html>
<header>
  <script src="../dist/vue.js"></script>
</header>

<body>
  <div id="app"></div>
  <!-- <script>
    new Vue({
      el: '#app',
      data() {
        return {
          isShow: true
        }
      },
      template: `<div v-if="isShow" class="header">编译过程</div>`
    })

  </script> -->

  <!-- <script>
    Vue.component('button-counter', {
      inject: ['msg'],
      updated() {
        console.log('this.msg child ==> ', this.msg);
      },
      template: `<div><slot></slot>adsd{{ msg }}</div>`
    })

    new Vue({
      el: '#app',
      data() {
        return {
          message: 1
        }
      },
      provide() {
        return {
          msg: this.message + '1'
        }
      },
      beforeUpdate() {
        console.log('this.msg ==> ', this.msg);
        console.log('this.msg ==> ', this._provided.msg);
        this.$refs.btn.$forceUpdate()
      },
      template: `
        <button-counter ref="btn" @click.native="message = message + 1;_provided.msg=22">
          I am a slot component{{message}}
        </button-counter>`,
    })

  </script> -->

  <!-- <script>
    Vue.component('test', {})
    const vm = new Vue({
      components: {
        test: 'test'
      }
    })
    console.log('vm.$options ==> ', vm.$options);

  </script> -->

  <!-- 测试 Vue.extend -->
  <!-- <script>
    const Parent = Vue.extend({
      watch: {
        value() {
          console.log('parent watch')
        }
      }
    })
    const Child = Parent.extend({
      watch: {
        value() {
          console.log('child watch')
        }
      }
    })
    const vm = new Child()
    console.log('vm.$options ==> ', vm.$options);

  </script> -->

  <!-- 测试 Vue.extend -->
  <!-- <script>
    const Parent = Vue.extend({})
    const Child = Parent.extend({
      created() {
        console.log(this.$options.filters.format)
      }
    })
    Parent.options.filters.format = (num) => num / 2
    const vm = new Child()

  </script> -->

  <!-- 测试 hooks 合并 -->
  <!-- <script>
    const extend = {
      created() {
        console.log('extends')
      }
    }
    const mixins = {
      created() {
        console.log('mixins')
      }
    }

    const Parent = Vue.extend({
      created() {
        console.log('parent created')
      },
      mixins: [mixins],
      extends: extend,
    })

    const Child = Parent.extend({
      created() {
        console.log('child')
      },
      mixins: [mixins],
      extends: {
        created() {
          console.log('child extends')
        }
      }
    })

    new Child()

  </script> -->

  <script>
    Vue.component('button-counter', {
      template: `<button>代码<slot name="header" :user="{name: 'qgh'}"></slot></button>`,
      data() {
        return {
          msg: '22;'

        }
      },
      created() {
        console.log('this.msg ==> ', this.msg);
      }
    })

    new Vue({
      el: '#app',
      data: {
        msg: 'none;'
      },
      template: `
        <button-counter>
          <template v-slot:header="scope">
          I am a slot component: {{ scope.user.name }}

            </template>
        </button-counter>`,
      updated() {
        console.log('22 ==> ', 22);
      },
      created() {
        console.log('this.msg ==> ', this.msg);
      }
    })

  </script>

  <!-- 测试编译流程 -->
  <!-- <script>
    Vue.component('button-counter', {
      data() {
        return {
          count: 0
        }
      },
      template: '<button v-on:click="count++">You clicked me {{ count }} times. <div><slot></slot></div></button>'
    })

    new Vue({
      el: '#app',
      data: {
        message: 'this is a message',
        isShow: true,
        type: 'a-button'
      },
      //  <div v-if="isShow" style="width: 100px; height: 20px;" :type="type">
      //     Hello World, {{ message }}
      //     <div class="child" type="text">
      //         child, {{ message }}
      //     </div>
      //     <div class="item" v-for="(item, index) in 10">
      //         {{ item }}
      //     </div>
      template: `
                <div>
                    <button-counter>
                        I am a slot component
                    </button-counter>
                </div>`,
      created() {
        this.message = 'create change'
      }
    })

  </script> -->
</body>

</html>
