<html>
<header>
  <!-- <script src="./vuex/index.js"></script> -->
  <script src="./dist/vue.js"></script>
  <script src="./vue-router/index.js"></script>
</header>

<body>
  <div id="app"></div>

  <script type="module">
    Vue.component('RouterView', {
      render(h) {
        console.log('触发渲染 ==> ', '触发渲染');
        const route = this._route || {}
        console.log('route ==> ', route);
        return h(route.component)
      }
    })

    const A = Vue.component('CompA', {
      template: `<button>A button</button>`
    })
    const B = Vue.component('CompB', {
      template: `<button>B button</button>`
    })

    const router = new VueRouter({
      routes: [{
          name: 'CompA',
          path: '/a',
          component: 'CompA'
        },
        {
          name: 'CompB',
          path: '/b',
          component: 'CompB'
        }
      ]
    })

    new Vue({
      el: '#app',
      router,
      methods: {
        changeRouter(name) {
          this.$router.push({
            name
          })
        }
      },
      template: `
        <div>
          <button @click="changeRouter('CompA')">CompA</button>
          <button @click="changeRouter('CompB')">CompB</button> </br>
          <router-view></router-view> </br>
          <router-view></router-view> </br>
          <router-view></router-view> </br>
        </div>
        `
    })

  </script>

  <!-- <script type="module">
    Vue.use(Vuex)
    const store = new Vuex.Store({
      state: {
        name: '张三',
        asyncName: '异步名称'
      },
      getters: {
        totalName(state) {
          return state.name + '-后缀'
        }
      },
      mutations: {
        changeName(state, payload) {
          console.log('state ==> ', state);
          console.log('payload ==> ', payload);

          state.name = payload
        }
      },
      actions: {
        asyncChangeName(state, payload) {
          setTimeout(() => {
            state.asyncName = payload
          }, 300);
        }
      }
    })

    new Vue({
      el: '#app',
      store,
      data() {
        return {
          isShow: true
        }
      },
      methods: {
        changeName() {
          const random = Math.random().toFixed(3)
          this.$store.dispatch('asyncChangeName', '异步名称' + random)
          this.$store.commit('changeName', '同步' + random)
        }
      },
      template: `<div @click="changeName">
        {{ $store.state.name }}  <br />
        {{ $store.state.asyncName }} <br />
        {{ $store.getters.totalName }} <br />
        </div>`
    })

  </script> -->

  <!-- <script>
    Vue.component('button-counter', {
      inject: ['msg'],
      updated() {
        console.log('this.msg child ==> ', this.msg);
      },
      template: `<div><slot></slot>adsd{{ msg }}</div>`
    })

    new Vue({
      el: '#app',
      data() {
        return {
          message: 1
        }
      },
      provide() {
        return {
          msg: this.message + '1'
        }
      },
      beforeUpdate() {
        console.log('this.msg ==> ', this.msg);
        console.log('this.msg ==> ', this._provided.msg);
        this.$refs.btn.$forceUpdate()
      },
      template: `
        <button-counter ref="btn" @click.native="message = message + 1;_provided.msg=22">
          I am a slot component{{message}}
        </button-counter>`,
    })

  </script> -->

  <!-- <script>
    Vue.component('test', {})
    const vm = new Vue({
      components: {
        test: 'test'
      }
    })
    console.log('vm.$options ==> ', vm.$options);

  </script> -->

  <!-- 测试 Vue.extend -->
  <!-- <script>
    const Parent = Vue.extend({
      watch: {
        value() {
          console.log('parent watch')
        }
      }
    })
    const Child = Parent.extend({
      watch: {
        value() {
          console.log('child watch')
        }
      }
    })
    const vm = new Child()
    console.log('vm.$options ==> ', vm.$options);

  </script> -->

  <!-- 测试 Vue.extend -->
  <!-- <script>
    const Parent = Vue.extend({})
    const Child = Parent.extend({
      created() {
        console.log(this.$options.filters.format)
      }
    })
    Parent.options.filters.format = (num) => num / 2
    const vm = new Child()

  </script> -->

  <!-- 测试 hooks 合并 -->
  <!-- <script>
    const extend = {
      created() {
        console.log('extends')
      }
    }
    const mixins = {
      created() {
        console.log('mixins')
      }
    }

    const Parent = Vue.extend({
      created() {
        console.log('parent created')
      },
      mixins: [mixins],
      extends: extend,
    })

    const Child = Parent.extend({
      created() {
        console.log('child')
      },
      mixins: [mixins],
      extends: {
        created() {
          console.log('child extends')
        }
      }
    })

    new Child()

  </script> -->

  <!-- <script>
    Vue.component('async-button', function (resolve, reject) {
      setTimeout(function () {
          const config = {
            template: `<button>代码<slot name="header" :user="{name: 'qgh'}"></slot></button>`,
            data() {
              return {
                msg: '22;'
              }
            }
          }

          resolve(config)
        },
        0)
    })

    new Vue({
      el: '#app',
      data: {
        msg: 'none;'
      },
      template: `
        <keep-alive>
          <async-button>
            <template v-slot:header="scope">
              I am a slot component: {{ scope.user.name }}

            </template>
          </async-button>
          </keep-alive>  
      `,
      updated() {
        console.log('22 ==> ', 22);
      },
      created() {
        console.log('this.msg ==> ', this.msg);
      }
    })

  </script> -->

  <!-- 测试编译流程 -->
  <!-- <script>
    Vue.component('button-counter', {
      data() {
        return {
          count: 0
        }
      },
      template: '<button v-on:click="count++">You clicked me {{ count }} times. <div><slot></slot></div></button>'
    })

    new Vue({
      el: '#app',
      data: {
        message: 'this is a message',
        isShow: true,
        type: 'a-button'
      },
      //  <div v-if="isShow" style="width: 100px; height: 20px;" :type="type">
      //     Hello World, {{ message }}
      //     <div class="child" type="text">
      //         child, {{ message }}
      //     </div>
      //     <div class="item" v-for="(item, index) in 10">
      //         {{ item }}
      //     </div>
      template: `
                <div>
                    <button-counter>
                        I am a slot component
                    </button-counter>
                </div>`,
      created() {
        this.message = 'create change'
      }
    })

  </script> -->
</body>

</html>
